<section class="vh-100 p-5 gradient-custom">
    <div class="card bg-dark w-80 px-5 shadow-lg">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-4 col- d-none d-lg-flex">
                <img src="../../../../assets/edicion.jpg" alt="imagen-edit" class="w-100 p-3"/>
            </div>
            <div class="col-lg-8">

                <div class="card-body py-5 px-md-5">

                    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                        <div class="orm-outline mb-4">
                            <label for="nombre" class="text-light">Nombre de la habilidad</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="habLab.nombre" required>
                        </div>

                        <div class="orm-outline mb-4">
                            <label for="imagen" class="text-light">Logo</label>
                            <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="habLab.imagen" required>
                        </div>

                        <div class="orm-outline mb-4">
                            <label for="nivel" class="text-light">Nivel de habilidad</label>
                            <input type="text" class="form-control" id="nivel" name="nivel" [(ngModel)]="habLab.nivel" required>
                        </div>
                        
                        <button class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
