<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaproy" *ngIf="isLogged">
            Nuevo proyecto
        </button>
    </div>
    
        
    <div class="col-lg-11">
        <table class="table">   
        <tbody>
            <tr *ngFor="let Proyecto of proy">
                <td>
                    <h2>{{Proyecto.titulo}}</h2>
                </td>
                <td>{{Proyecto.resumen}}</td>
                <div class="img-proyecto">
                    <img [src]="Proyecto.enlace" class="w-25 h-25">
                </div>
                
                <td *ngIf="isLogged">
                    <button class="btn btn-light" routerLink="/editproy/{{Proyecto.id}}">
                        <i class="bi bi-pencil-fill"></i> EDITAR</button>
                </td>
                <td *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                        <i class="bi bi-trash-fill"></i> BORRAR</button>
                </td>
            </tr>
        </tbody>
        </table>  
    </div>
    
    
        
