<section class="vh-100 p-5 gradient-custom">
    <div class="card bg-dark w-80 px-5 shadow-lg">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-4 col- d-none d-lg-flex">
                <img src="../../../../assets/edicion.jpg" alt="imagen-edit" class="w-100 p-3"/>
            </div>
            <div class="col-lg-8">

                <div class="card-body py-5 px-md-5">
                    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                        <div class="form-outline mb-4">
                            <label for="nombreE" class="text-light">Nombre de la empresa</label>
                            <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="descripcionE" class="text-light">Descripcion del puesto</label>
                            <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required>
                        </div>
                        
                        <button class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
