<section class="vh-100 p-5 gradient-custom">
    <div class="card bg-dark w-80 px-5 shadow-lg">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-4 col- d-none d-lg-flex">
                <img src="../../../../assets/edicion.jpg" alt="imagen-edit" class="w-100 p-3"/>
            </div>
            <div class="col-lg-8">

                <div class="card-body py-5 px-md-5">

                    <form class="form-card" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                        <div class="form-outline mb-4">
                            <label for="nombre" class="text-light">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="perlab.nombre" required>
                        </div>
                        
                        <div class="form-outline mb-4">
                            <label for="apellido" class="text-light">Apellido</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="perlab.apellido" required>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="bio" class="text-light">Bio</label>
                            <input type="text" class="form-control" id="bio" name="bio" [(ngModel)]="perlab.bio" required>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="img" class="text-light">Imagen</label>
                            <input type="text" class="form-control" id="img" name="img" [(ngModel)]="perlab.img" required>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="banner" class="text-light">Banner</label>
                            <input type="text" class="form-control" id="banner" name="banner" [(ngModel)]="perlab.banner" required>
                        </div>

                        <button class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
