<section class="vh-100 p-5 gradient-custom">
    <div class="card bg-dark w-80 px-5 shadow-lg">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-4 col- d-none d-lg-flex">
                <img src="../../../../assets/edicion.jpg" alt="imagen-edit" class="w-100 p-3"/>
            </div>
            <div class="col-lg-8">

                <div class="card-body py-5 px-md-5">
                    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                        <div class="form-outline mb-4">
                            <label for="titulo" class="text-light">Titulo del proyecto</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="titulo" required>
                        </div>
                        <div class="form-outline mb-4">
                            <label for="resumen" class="text-light">Resumen del proyecto</label>
                            <input type="text" class="form-control" id="resumen" name="resumen" [(ngModel)]="resumen" required>
                        </div>
                        <div class="form-outline mb-4">
                            <label for="enlace" class="text-light">Enlace del proyecto</label>
                            <input type="text" class="form-control" id="enlace" name="enlace" [(ngModel)]="enlace" required>
                        </div>
                        <div class="form-outline mb-4">
                            <label for="imagen" class="text-light">Imagen del proyecto</label>
                            <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="imagen" required>
                        </div>

                        <button class="btn btn-primary">Agregar proyecto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
