.row{
    padding: 20px;
}
div{
    text-align: center;
}

.Edit{
    display: inline-block;
}

.img-nom{
    display: flex;
    flex-direction: column;
}
.nombre-usu{
    margin-top: 130px;
    margin-left: 60px;
}

/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 3%;
        top:550px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 33%;
        top:950px;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;  
}