<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 img-nom" *ngFor="let Persona of per">

        <div>
            <img [src]="Persona.img" class="img-fluid" id="fotodeperfil">
        </div>

        <div *ngFor="let Persona of per">
            <p id="nombre" class="fs-2 font-monospace text-center nombre-usu">{{Persona.nombre}} {{Persona.apellido}}</p>
        </div>
        

    </div>
    
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 px-5" *ngFor="let Persona of per">
        <span >
            <h1 class="Edit">Acerca de mí</h1>
            
            <p id="nombre" class="fs-5 fw-light">{{Persona.bio}}</p>
 
            <div *ngIf="isLogged" class="Edit">
                <button class="btn btn-light d-flex justify-content-end" routerLink="/editace/{{Persona.id}}"  >
                <i class="bi bi-pencil-fill"></i> EDITAR</button>
            </div>
            
        </span>
    </div>

</div> 