div{
    text-align: center;
}

.Edit{
    display: inline-block;
}

/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        /*position: absolute;*/
        width: 40%;
        margin-top: 10px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 6%;
        /*top:700px;*/
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        /*position: absolute;*/
        width: 35%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 33%;
        margin-top: 20px;
    }
}

